<div class="grid-col-2 gallery">
    <div class="gallery__figure">
        <img src="./images/1.webp" alt="" class="gallery__photo">
    </div>
    <div class="gallery__figure">
        <img src="./images/10.webp" alt="" class="gallery__photo">
    </div>
    <div class="gallery__figure">
        <img src="./images/8.webp" alt="" class="gallery__photo">
    </div>
    <div class="gallery__figure">
        <img src="./images/20.webp" alt="" class="gallery__photo">
    </div>
    <div class="gallery__figure">
        <img src="./images/15.webp" alt="" class="gallery__photo">
    </div>
    <div class="gallery__figure">
        <img src="./images/3.webp" alt="" class="gallery__photo">
    </div>
</div>