<div class="card">
    <div class="card__image">
        <img src="/images/1.webp" alt="photo">
    </div>
    <div class="card__details">
        <header class="card__header">
            <h3 class="card__title">Title</h3>
            <p class="card__subtitle">Collection Name</p>
        </header>
        <section class="card__metadata">
            <span class="metadata__link">Suit Link</span>
            <span class="material-icons">
                thumb_up_off_alt
            </span>
        </section>
    </div>
</div>