@font-face {
    font-family: 'Bebas Neue';
    src: url(../fonts/bebas-neue/BebasNeue-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'Spider-Man';
    src: url(../fonts/Spider-Man/Spider-Man.otf) format("opentype");
}

@font-face {
    font-family: Cynatar;
    src: url(../fonts/cynatar/Cynatar.otf) format("opentype");
}

@font-face {
    font-family: Lato;
    src: url(../fonts/lato/Lato-Light.ttf) format("truetype");
}

@font-face {
    font-family: 'Starting Live';
    src: url(../fonts/starting-live/StartingLive.otf) format("opentype");
}

@font-face {
    font-family: 'Amazing Spider-Man';
    src: url(../fonts/amazing-spiderman/The\ Amazing\ Spider-Man.ttf) format("truetype");
}

:root {
    --color-white: #F5F5F5;
    --color-black: #0F0F0F;
    --color-light-gray: #B3B3B3;
    --color-dark-gray: #4D4D4D;
    --color-spidey-red: #BF2828;
    --color-spidey-yellow: #FFBA30;
    --color-miles-navy: #1B2232;
    --color-miles-red: #E01C1C;
    --color-symbiote-indigo: #19183A;
    --color-symbiote-yellow: #E9C948;
    --opacity-high: 85%;
    --opacity-low: 50%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Typography */
html {
    font-size: 62.5%;
}

body {
    font-family: lato, sans-serif;
    font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Spider-Man';
    letter-spacing: 0.1rem;
    line-height: 0.8;
}

h1 {
    font-size: 7.594rem;
}

h2 {
    font-size: 5.063rem;
}

h3 {
    font-size: 3.375rem;
}

h4 {
    font-size: 2.25rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1rem;
}

p {
    margin-top: 1rem;
}

/* Links */
a {
    text-decoration: none;
}

/* Lists */
.list {
    list-style: none;
    padding: 0;
}


/* Flex */
.flex {
    display: flex;
}

.flex--center {
    align-items: center;
    justify-content: center;
}

.flex--direction {
    flex-direction: column;
}

/* Buttons */
.btn {
    border-radius: 100px;
    border: 6px solid var(--color-white);
    cursor: pointer;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 4.5rem;
    outline: 0;
    padding: 1.8rem 6.5rem;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.2s;
    white-space: nowrap;
}

.btn:first-of-type {
    margin: 1.5rem 0;
}

.btn--spidey {
    background: var(--color-spidey-red);
    color: var(--color-white);
}

.btn--spidey:hover {
    background: var(--color-white);
    color: var(--color-black);
    border: 6px solid var(--color-white);
}

.btn--miles {
    background: var(--color-miles-navy);
    color: var(--color-white);
}

.btn--miles:hover {
    background: var(--color-miles-red);
    color: var(--color-white);
    border: 6px solid var(--color-miles-red);
}

.btn--symbiote {
    background: var(--color-symbiote-indigo);
    color: var(--color-white);
}

.btn--symbiote:hover {
    background: var(--color-symbiote-yellow);
    color: var(--color-black);
    border: 6px solid var(--color-symbiote-yellow);
}

@media (width > 786px) {
    .flex--direction {
        flex-direction: row;
    }

    .btn:first-of-type {
        margin-right: 2rem;
    }
} 

@media (width > 1024px) {
    .btn {
        font-size: 7rem;
    }

    .btn:first-of-type {
        margin-right: 4rem;
    }
}

/* Blocks */
.block {
    padding: 10rem 2rem;
}

.block__header {
    text-align: center;
}

@media (width > 1024px) {
    .block {
        padding: 20rem 0;
    }
}

/* Hero */
.hero {
    position: relative;
    font-size: 0;
}

.hero__image {
    width: 100%;
}

.hero__camera-overlay {
    left: 0;
    opacity: 0;
    padding: 5px;
    position: absolute;
    top: 0;
    transition: opacity 0.5s;
}

.hero__camera-overlay:hover {
    opacity: var(--opacity-low);
}

@media (width > 1024px) {
    .hero__camera-overlay {
        padding: 20px;
    }
}

/* Collections */
.collection .header {
    margin-bottom: 4rem;
}

.collection .collection__title {
    font-size: 9rem;
    word-spacing: 9999rem;
    text-transform: uppercase;
}

.collection .collection__subtitle--shadow {
   text-shadow: 3px 3px 0 black; 
}

.collection--spidey {
    background-image: url(../images/spidey-background.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.collection--spidey .collection__title {
    color: var(--color-white);
}

.collection--spidey .collection__subtitle {
    color: var(--color-spidey-yellow);
    font-family: 'Amazing Spider-Man';
    font-size: 3.5rem;
    text-transform: uppercase;
}

.collection--miles {
    background-image: url(../images/miles-background.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.collection--miles .collection__title {
    color: var(--color-white);
}

.collection--miles .collection__subtitle {
    color: var(--color-miles-red);
    font-family: 'Starting Live';
    font-size: 3.6rem;
}

.collection--symbiote {
    background-image: url(../images/symbiote-background.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.collection--symbiote .collection__title {
    color: var(--color-white);
}

.collection--symbiote .collection__subtitle {
    color: var(--color-symbiote-yellow);
    font-family: Cynatar;
    font-size: 4.5rem;
    line-height: 0.5;
}

@media (width > 786px) {
    .collection .header {
        margin-bottom: 3rem;
    }
}

@media (width > 1024px) {
    .collection .header {
        margin-bottom: 7rem;
    }
    
    .collection .collection__title {
        font-size: 18.1rem;
        word-spacing: 0;
    }

    .collection--spidey .collection__subtitle {
        font-size: 9rem;
    }

    .collection--miles .collection__subtitle {
        font-size: 8rem;
    }

    .collection--symbiote .collection__subtitle {
        font-size: 10rem;
    }
}