@font-face {
    font-family: Poppins;
    src: url(../fonts/poppins/Poppins-Black.ttf) format("truetype");
}

@font-face {
    font-family: 'Spider-Man';
    src: url(../fonts/Spider-Man/Spider-Man.otf) format("opentype");
}

@font-face {
    font-family: 'Scrambled Storm';
    src: url(../fonts/scramble_storm/Scramble\ Storm.otf) format("opentype");
}

@font-face {
    font-family: Lato;
    src: url(../fonts/lato/Lato-Thin.ttf) format("truetype");
}

@font-face {
    font-family: 'Starting Live';
    src: url(../fonts/starting-live/StartingLive.otf) format("opentype");
}

:root {
    --color-white: #F5F5F5;
    --color-black: #0F0F0F;
    --color-light-gray: #B3B3B3;
    --color-dark-gray: #4D4D4D;
    --color-spidey-red: #BF2828;
    --color-miles-navy: #1B2232;
    --color-miles-red: #E01C1C;
    --color-symbiote-indigo: #19183A;
    --color-symbiote-yellow: #E9C948;
    --opacity-high: 85%;
    --opacity-low: 50%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Typography */
html {
    font-size: 62.5%;
}

body {
    font-family: lato, sans-serif;
    font-size: 2rem;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Spider-Man';
}

h1 {
    font-size: 7.594rem;
}

h2 {
    font-size: 5.063rem;
}

h3 {
    font-size: 3.375rem;
}

h4 {
    font-size: 2.25rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1rem;
}

p {
    margin-bottom: 1rem;
}

/* Links */
a {
    text-decoration: none;
}

/* Lists */
.list {
    list-style: none;
    padding: 0;
}

/* Buttons */
.btn {
    border-radius: 50px;
    border: none;
    box-sizing: content-box;
    cursor: pointer;
    font-family: Poppins, sans-serif;
    font-size: 3.5rem;
    margin: 1.3rem 0;
    outline: 0;
    padding: 2rem 4rem;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.2s;
    white-space: nowrap;
}

.btn--outline {
    outline: 6px solid var(--color-white);
}

.btn--spidey {
    background: var(--color-spidey-red);
    color: var(--color-white);
}

.btn--spidey:hover {
    background: var(--color-white);
    color: var(--color-black);
    outline: 6px solid var(--color-white);
}

.btn--miles {
    background: var(--color-miles-navy);
    color: var(--color-white);
}

.btn--miles:hover {
    background: var(--color-miles-red);
    color: var(--color-white);
    outline: 6px solid var(--color-miles-red);
}

.btn--symbiote {
    background: var(--color-symbiote-indigo);
    color: var(--color-white);
}

.btn--symbiote:hover {
    background: var(--color-symbiote-yellow);
    color: var(--color-black);
    outline: 6px solid var(--color-symbiote-yellow);
}

/* Container
.container {
    margin: 0 auto;
    max-width: 1140px;
}

.container--image {
    background-image: url(../images/default-background.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

/* Blocks */
.block {
    box-sizing: content-box;
    padding: 6rem 2rem;
}

.block__header {
    text-align: center;
}

/* Flex */
.flex {
    display: flex;
}

.flex--center {
    align-items: center;
    justify-content: center;
}

.flex--column {
    flex-direction: column;
}

/* Hero */
.hero {
    position: relative;
    font-size: 0;
}

.hero__image {
    width: 100%;
}

.hero__camera-overlay {
    left: 0;
    opacity: 0;
    padding: 5px;
    position: absolute;
    top: 0;
    transition: opacity 0.5s;
}

.hero__camera-overlay:hover {
    opacity: var(--opacity-low);
}

@media (width > 1024px) {
    .hero__camera-overlay {
        padding: 20px;
    }
}

/* Collections */
.collection header {
    margin-bottom: 9rem;
    position: relative;
}

.collection header h2 {
    line-height: 0.8;
}

.collection .collection__title {
    font-size: 11rem;
    letter-spacing: 3px;
    word-spacing: 9999rem;
}

.collection--spidey {
    background-image: url(../images/spidey-background.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.collection--spidey .collection__title {
    color: var(--color-white);
}

.collection--spidey .collection__subtitle {
    color: var(--color-white);
    font-family: 'Spider-Man';
    font-size: 4.5rem;
    left: calc(50vw - 12.8rem);
    position: absolute;
    top: 168px;
}

.collection--miles {
    background-image: url(../images/miles-background.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.collection--miles .collection__title {
    color: var(--color-white);
}

.collection--miles .collection__subtitle {
    color: var(--color-miles-red);
    font-family: 'Starting Live';
    font-size: 4rem;
    left: calc(50vw - 10.4rem);
    position: absolute;
    top: 175px;
}

.collection--symbiote {
    background-image: url(../images/symbiote-background.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.collection--symbiote .collection__title {
    color: var(--color-white);
}

.collection--symbiote .collection__subtitle {
    color: var(--color-symbiote-yellow);
    font-family: 'Scrambled Storm';
    font-size: 5.5rem;
    left: calc(50vw - 9.9rem);
    position: absolute;
    top: 155px;
}